<h1>Stats</h1>

<div class="container">
    <div class="filters">
        <app-button
            [isActive]="filter() === 'fe'"
            [fullWidth]="true"
            (click)="filter.set('fe')"
            >FRONTEND</app-button
        >
        <app-button
            [isActive]="filter() === 'be'"
            [fullWidth]="true"
            (click)="filter.set('be')"
            >BACKEND</app-button
        >
        <app-button
            [isActive]="filter() === 'db'"
            [fullWidth]="true"
            (click)="filter.set('db')"
            >DATABASE</app-button
        >
        <app-button
            [isActive]="filter() === 'misc'"
            [fullWidth]="true"
            (click)="filter.set('misc')"
            >MISC</app-button
        >
    </div>

    <img src="untitled.svg" alt="" height="300" />
</div>
